body {
  font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
  background-color: rgb(35, 37, 49);
  color: rgb(132, 160, 198);
  fill: rgb(132, 160, 198);
}

nav {
  height: 66px;
}

#navbar {
  display: flex;
  justify-content: flex-end;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(132, 159, 198, 0.814);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(10px);

  transition: transform 0.32s ease-in-out;
  transform: translateX(250px);
}

#sidebar.active {
  transform: translateX(0); /* Move the sidebar into view */
}

@media (max-width: 430px) {
  #sidebar {
    width: 100%;
    transform: translateX(100vh);
  }
}

#sidebar-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#closer {
  margin-top: 16px;
  margin-right: 16px;
}

#sidebar ul {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#sidebar li {
  color: blue;
  list-style-type: none;
  padding: 15px;
  padding-left: 20px;
  width: 100%;
  transition: background-color 0.32s;
  font-size: 16px;
}

#sidebar svg {
  fill: rgb(35, 37, 49);
  right: 10px;
  display: block;
  padding: 8px;
  width: 1.5rem;
  height: 1.5rem;
}

#sidebar li:hover {
  background-color: rgb(164, 198, 246);
}

#sidebar svg:hover {
  fill: rgb(109, 116, 154);
}

#sidebar a {
  text-decoration: none;
  color: rgb(35, 37, 49);
}

#menu { 
  padding: 1rem;
  border-radius: 8px;
  transition: fill 0.32s, background-color 0.32s;
}   

#menu:hover {
  color: rgb(35, 37, 49);
  fill: rgb(35, 37, 49);
  background-color: rgb(132, 160, 198);
  cursor: pointer;
}

.subheader {
  color: rgb(89, 94, 118);
}

#name {
  color: rgb(210, 212, 222);
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px - 8px);
}

.description {
  text-align: center;
}